*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc{
    width: 320px;
    height: 460px;
    padding: 10px;
    background-color: #60a3bc;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px #747d8c;
}

.textMain{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}

.btnMain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    width: 65px;
    height: 65px;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 7px;
    border-radius: 10px;
    background-color: #0a3d62;
    border: 0px solid #0a3d62;
    color: #fff;
    box-shadow: 2px 2px 2px #747d8c;
}

.btnNum{
    background-color: #3c6382;
}

.btnNum:hover{
    background-color: #104972;
}

button:hover{
    background-color: #48647a;
    color: #fff;
}

.curNum{
    width: 280px;
    height: 20px;
    text-align: right;
    background-color: #f1f2f6;
    border: 0px solid #0a3d62;
    color: #747d8c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-right: 5px;
}

.textNum{
    width: 280px;
    height: 50px;
    text-align: right;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f1f2f6;
    margin-bottom: 10px;
    border: 0px solid #0a3d62;
    font-size: 40px;
    padding-right: 5px;
}